<div>
  <mat-toolbar color="primary" calss="header-toolbar">

    <span routerLink="../home">Express Way</span>

    <span class="example-fill-remaining-space"></span>

    <div *ngIf="authenticated; else elseBlock">
      <ul>
        <li>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="../user/profile"> Profile </button>
            <button mat-menu-item> Reservation History </button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            {{ currentUser.username }}
          </button>

        </li>
        <li>
          <button mat-button (click)="logMeOut()">Log out</button>
        </li>
      </ul>
    </div>

    <ng-template #elseBlock>
      <ul>
        <li>
          <button mat-button routerLink="../login">Login</button>
        </li>
        <li>
          <button mat-button routerLink="../signup">Sign Up</button>
        </li>
      </ul>

    </ng-template>

  </mat-toolbar>

</div>