<div>
  <mat-toolbar color="primary" calss="header-toolbar">

    <span routerLink="../home">Express Way</span>

    <span class="example-fill-remaining-space"></span>

    <div *ngIf="userAuthenticated; else checkEmployeeSignin">

      <ul>
        <li>
          <button mat-button routerLink="../help">Help</button>
        </li>

        <li>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="../user/profile"> Profile </button>
            <button mat-menu-item routerLink="../user/reservations"> My Trips </button>
            <button mat-menu-item routerLink="../user/bids"> Bid History</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            {{ currentUser.username }}
          </button>

        </li>

        <li>
          <button mat-button (click)="logMeOut()">Log out</button>
        </li>
      </ul>

    </div>

    <ng-template #checkEmployeeSignin>

      <div *ngIf="employeeAuthenticate; else checkAdminSignin">

        <ul>
          <li>
            <button mat-button routerLink="../help">Help</button>
          </li>

          <li>
            <button mat-button>{{ currentUser.username }} (Employee)</button>
            <button mat-button routerLink="../employee/control">Control</button>
          </li>

          <li>
            <button mat-button (click)="logMeOut()">Log out</button>
          </li>
        </ul>

      </div>

    </ng-template>


    <ng-template #checkAdminSignin>

      <div *ngIf="adminAuthenticate; else elseBlock">

        <ul>
          <li>
            <button mat-button routerLink="../help">Help</button>
          </li>
          <li>
            <button mat-button (click)="logMeOut()">Log out</button>
          </li>
        </ul>

      </div>

    </ng-template>

    <ng-template #elseBlock>

      <ul>
        <li>
          <button mat-button routerLink="../login">Login</button>
        </li>
        <li>
          <button mat-button routerLink="../signup">Sign Up</button>
        </li>
      </ul>

    </ng-template>

  </mat-toolbar>

</div>