<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side">
    <div class="example-scrolling-content">
      <ul>
        <li>User</li>
        <li>User 2</li>
        <li>Vim</li>
      </ul>
    </div>
  </mat-sidenav>

  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="example-scrolling-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus ultricies lacus, ac interdum elit suscipit ut. Nullam massa enim, tempor sed fringilla et, eleifend id dui. Curabitur consectetur, ligula vel condimentum iaculis, sem mauris rhoncus felis, quis finibus enim arcu ac nibh. Proin ut ultricies nisl. Sed vel sagittis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla condimentum venenatis consequat. Etiam lacinia malesuada leo. Aenean sed imperdiet ex, non porta metus. Vestibulum cursus ex augue, sed feugiat nisl condimentum non. Proin vel aliquam sem.
    
    Vestibulum eu odio id magna pharetra laoreet. Nunc malesuada risus et dolor imperdiet volutpat. Vivamus vitae lacus in ex sollicitudin ullamcorper. Maecenas faucibus sapien at nunc ultrices viverra. Vestibulum ut egestas libero. Sed at tristique augue. Mauris fringilla nibh diam, a volutpat ligula blandit quis. Sed tincidunt feugiat mauris, eu tristique nibh pretium eu. Phasellus vel blandit dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    
    Vestibulum felis arcu, vehicula id libero vitae, tincidunt mollis quam. Sed blandit tempor lacinia. Proin sit amet lobortis justo. Quisque eros tortor, condimentum pulvinar nulla ut, rutrum efficitur augue. Vivamus vulputate nisi libero, et tempor justo fringilla ac. Ut in sapien porttitor dolor pellentesque iaculis. Maecenas ex quam, dapibus at ipsum vel, dictum mattis lectus. Nam vel varius velit. Pellentesque vitae tellus eu libero luctus tincidunt ac quis justo. In maximus tortor sapien, vitae fermentum tellus vehicula ac.
    
    Quisque ac odio nec dolor imperdiet imperdiet. Sed porta euismod imperdiet. Donec lacinia enim non ligula viverra, ut imperdiet nulla mattis. Vestibulum et convallis diam. Mauris in metus sit amet neque finibus molestie non sed lectus. Ut venenatis mattis eleifend. Aliquam at mi in neque convallis rutrum sed vitae orci. Sed vel lorem semper, vulputate turpis a, porttitor libero. In sit amet ligula molestie mi bibendum finibus vitae quis tellus. Nam facilisis dui quis arcu viverra, at pellentesque ante porttitor. Nunc in turpis tortor. Duis nisl nibh, consequat eu nunc sed, bibendum feugiat ipsum.
    
    Aenean sagittis, quam at molestie condimentum, ligula nisi luctus nulla, ut dignissim orci elit nec neque. Integer efficitur non magna et interdum. Ut volutpat libero id malesuada gravida. Mauris venenatis volutpat metus, eu lacinia mauris vestibulum ac. Vivamus viverra ultrices nisl, eget efficitur mauris fermentum eu. Ut at risus arcu. Etiam non nulla massa. Morbi sit amet sapien gravida ipsum elementum malesuada in sit amet nisi. Morbi mollis ante est, sed malesuada tellus fermentum eu. Pellentesque imperdiet scelerisque justo, eget eleifend lacus congue bibendum. Nam sapien tortor, commodo non nisl eget, eleifend auctor ante. Vivamus a dolor vel arcu euismod sodales ut non mauris. Ut tristique nulla vel dapibus imperdiet.
  </div>

</mat-sidenav-container>