<div class="container">
  <mat-card>
    <form class="login_form">

      <table class="login_table" cellspacing="0">

        <tr>
          <td>
            <mat-form-field class="login_username">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username">
            </mat-form-field>

            <mat-form-field class="login_password">
              <input matInput placeholder="Password" [(ngModel)]="password" name="password">
            </mat-form-field>
          </td>
        </tr>

      </table>

      <button mat-button (click)='logMeIn()'>Log me in!</button>

    </form>

  </mat-card>

</div>