<div class="user_control_table mat-elevation-z8">


    <div class="example-header">
        <mat-form-field id="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hourlyRate">
            <mat-header-cell *matHeaderCellDef>Hourly Rate</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hourly_rate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="telephone">
            <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit/delete">
            <mat-header-cell *matHeaderCellDef> Edit/Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button (click)="edit(element)">Edit</button>
                <button mat-button (click)="delete(element)">Delete</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>

  <!-- customer mailing list -->
  <mat-expansion-panel  (opened)="getEmails = true" (closed)="getEmails = false">
    <mat-expansion-panel-header>
      <mat-panel-title>Comprehensive Listing of Emails</mat-panel-title>
      <mat-panel-description></mat-panel-description>

    </mat-expansion-panel-header>

    <div *ngIf="getEmails">
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="customerEmails">

          <ng-container matColumnDef="account_number">
            <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.account_number}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef=customerEmailsCol></mat-header-row>
          <mat-row *matRowDef="let element; columns: customerEmailsCol;"></mat-row>
        </mat-table>
      </div>

    </div>
  </mat-expansion-panel>

  <!-- flight suggestion for a given customer -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Flight Suggestions
      </mat-panel-title>
      <mat-panel-description>
        for a given customer
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Customer ID" [(ngModel)]='customerId'>
    </mat-form-field>


    <button mat-button (click)="getFlightSuggestion()">Submit</button>

    <div *ngIf="displayFlightSugFlag">
      <div class="">
        <mat-table #table [dataSource]="listOfFlightSuggestion">

          <ng-container matColumnDef="airline_id">
            <mat-header-cell *matHeaderCellDef> Airline </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.airline_id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flight_number">
            <mat-header-cell *matHeaderCellDef> Flight Number </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.flight_number}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="listOfFlightSuggestionCol"></mat-header-row>
          <mat-row *matRowDef="let element; columns: listOfFlightSuggestionCol;"></mat-row>
        </mat-table>
      </div>

    </div>

  </mat-expansion-panel>


</div>
