<div class="container">
  <mat-card>
    <form class="example-form" (ngSubmit)=register()>

      <table class="input_field" cellspacing="0">

        <tr>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="First Name" [(ngModel)]="customer.first_name" name="firstname">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Last Name" [(ngModel)]="customer.last_name" name="lastname">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Email" [(ngModel)]="customer.email" name="email">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Username" [(ngModel)]="customer.username" name="username">
            </mat-form-field>
          </td>

        </tr>

        <tr>
          <td>
            <mat-form-field class="input_field">
              <input type="password" matInput placeholder="Password" [(ngModel)]="customer.password" name="password">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Address" [(ngModel)]="customer.address" name="address">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="City" [(ngModel)]="customer.city" name="city">
            </mat-form-field>
          </td>
        </tr>


        <tr>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="State" [(ngModel)]="customer.state" name="state">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Zip" [(ngModel)]="customer.zip_code" name="zip_code">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Credit Card" [(ngModel)]="customer.credit_card" name="credit_card">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="input_field">
              <input matInput placeholder="Phone Number" [(ngModel)]="customer.telephone" name="telephone">
            </mat-form-field>
          </td>
        </tr>

      </table>

      <button mat-button>Create Account</button>

    </form>

  </mat-card>

</div>