<div class="container">
  <mat-card>
    <form class="example-form">

      <table class="example-full-width" cellspacing="0">

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name">
            </mat-form-field>
          </td>
        </tr>


        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
          </td>

        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </td>

        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password">
            </mat-form-field>
          </td>

        </tr>

      </table>

      <button mat-button>Create Account</button>

    </form>

  </mat-card>

</div>