<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>User</mat-card-subtitle>
  </mat-card-header>


  <div *ngIf="loaded">

    <mat-card-content>
      <mat-form-field>
        <div>
          <span>First Name: </span>
          <input type="text" matInput [(ngModel)]='user.first_name' name="first_name">
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>Last Name: </span>
          <input type="text" matInput [(ngModel)]='user.last_name'>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>Email: </span>
          <input type="text" matInput [(ngModel)]='user.email'>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>Address: </span>
          <input type="text" matInput [(ngModel)]='user.address'>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>City: </span>
          <input type="text" matInput [(ngModel)]='user.city'>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>State: </span>
          <input type="text" matInput [(ngModel)]='user.state'>
        </div>
      </mat-form-field>


      <mat-form-field>
        <div>
          <span>Zip: </span>
          <input type="text" matInput [(ngModel)]='user.zip_code'>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>Credit Card: </span>
          <input type="text" matInput [(ngModel)]='user.credit_card'>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <span>Telephone: </span>
          <input type="text" matInput [(ngModel)]='user.telephone'>
        </div>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="updateUser()">Update</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>

  </div>

</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Check Itinerary
    </mat-panel-title>
    <mat-panel-description>
      enter the reservation number
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Reservation Number" [(ngModel)]='resvNumber'>
  </mat-form-field>


  <button mat-button (click)="getTravelItinerary()">Submit</button>

  <div *ngIf="travelItineraryFlag">
    <div class="">
      <mat-table #table [dataSource]="travelItineraryResult">

        <ng-container matColumnDef="airline_id">
          <mat-header-cell *matHeaderCellDef> Airline </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.airline_id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="flight_number">
          <mat-header-cell *matHeaderCellDef> Flight Number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.flight_number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="from_airport">
          <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.from_airport}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="to_airport">
          <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.to_airport}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="travelItineraryResultCol"></mat-header-row>
        <mat-row *matRowDef="let element; columns: travelItineraryResultCol;"></mat-row>
      </mat-table>
    </div>

  </div>

</mat-expansion-panel>


